<html>
    <head>
      <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/main.css') }}">
      <script src="{{url_for('static', filename='javascriptfile.js')}}"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      {% if title %}
      <title>{{ title }} - HRDC DB</title>
      {% else %}
      <title>Welcome to HRDC DB</title>
      {% endif %}
    </head>
    <body>

          <ul>
          
            {% if current_user.is_anonymous %}
            <li><a href="{{ url_for('login') }}">Login</a><
            {% else %}
            {% if cid %}
            <li ><a  href="{{ url_for('client_dashboard', clientid = cid) }}">Return to Dashboard</a></li>
            {% endif %}
            {% if familyid %}
            <li ><a  href="{{ url_for('family_dashboard', familyid = familyid) }}">Return to Dashboard</a></li>
            {% endif %}
            <li ><a  href="{{ url_for('client_checkin') }}">Kiosk</a></li>
            <li ><a  href="{{ url_for('index') }}">Home</a></li>
            <li ><a  href="{{ url_for('create_client') }}">Create New Client</a></li>
            <li ><a  href="{{ url_for('create_family') }}">Create New Family</a></li>
            <li ><a  href="{{ url_for('view_clients', client_data = 'None') }}">Find Client</a></li>
            <li ><a  href="{{ url_for('index') }}">current user: {{ current_user.username }}</a></li>
            <li ><a  href="{{ url_for('logout') }}">Logout</a></li>
            {% endif %}
          </ul>

            {% block content %}{% endblock %}
    </body>
</html>
