{% extends "base.html" %}

{% block content %}


<table>
    <tr>
        <th>Time</th>
        <th>Date</th>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
        <th>DOB</th>
        <th>Last 4 of SSN</th>
        <th>Search</th>
        <th>Clear</th>
    </tr>

{% for client in lobby %}
    <tr>
      <td>{{ client.timestamp.strftime('%H:%M') }}</td>
      <td>{{ client.timestamp.strftime('%m-%d-%Y') }}</td>
      <td>{{ client.first_name }}</td>
      <td>{{ client.middle_name }}</td>
      <td>{{ client.last_name }}</td>
      <td>{{ client.dob.strftime('%m-%d-%Y') }}</td>
      <td>{{ client.SSN }}</td>
      <td><a href="{{ url_for('view_clients', clientid = client.id) }}"><button>Dashboard</button></a></td>
      <td>Clear</td>
    </tr>
{% endfor %}
</table>



{% endblock %}