{% extends "base.html" %}

{% block content %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <div class="formFields">            
            <div class="formElement">
                {{ form.created_by.label }}
                {{ form.created_by(readonly=True) }}
                {% for error in form.created_by.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="formElement">
                {{ form.program.label }}
                {{ form.program }}
                {% for error in form.program.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
        </div>

        <table class="familyView">
            <tr>
                <th>Client ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Gender</th>
                <th>Date of Birth</th>
            </tr>
        </table>


        <div class="formFields">
            <div class="formElement">
                {{ form.first_name.label }}
                {{ form.first_name }}
                {% for error in form.first_name.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="formElement">
                {{ form.middle_name.label }}
                {{ form.middle_name }}
                {% for error in form.middle_name.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="formElement">
                {{ form.last_name.label }}
                {{ form.last_name }}
                {% for error in form.last_name.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="formElement">
                {{ form.dob.label }}
                {{ form.dob }}
                {% for error in form.dob.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div> 
            <div class="formElement">
                {{ form.SSN.label }}
                {{ form.SSN }}
                {% for error in form.SSN.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="formElement">
                {{ form.submit }}
            </div>    
        </div>
    <form action="" method="post"><br>
    {% if clients %}
        <table class="clientView">
        <tr>
            <th>Client ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Date of Birth</th>
        </tr>
        {% for c in clients %}
        <tr>
            <td class="clientID">{{ c.id }}</td>
            <td>{{ c.first_name }}</td>
            <td>{{ c.last_name }}</td>
            <td>{{ c.gen.gender }}</td>
            <td>{{ c.dob.strftime('%m-%d-%Y') }}</td>
            <td><button class="addBtn" type ="button">Add</button></td>
        </tr>
        {% endfor%}
    </table>
    {% endif %}
{% endblock %}
