<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="{{ url_for('static', filename = 'styles/universal_form.css') }}">
	</head>
	<body>

		<div class="formHeader">
			<h2>HRDC - Universal Intake Summary</h2>
		</div>

		<div class="nameBlock">
			<div class="formLabel">First Name</div>
			<div class="formInfoname">{{ client.first_name }}</div>
			<div class="formLabel">MI</div>
			<div class="middleName">{{ client.middle_name[0] }}</div>
			<div class="formLabel">Last Name</div>
			<div class="formInfoname">{{ client.last_name }}</div>
		</div>

		<div class="demogBlock">
			<div class="formLabel">Date of Birth</div>
			<div class="formInfoDemog">{{ client.dob.strftime('%m/%d/%Y') }}</div>
			<div class="formLabel">SSN (Last 4)</div>
			{% if client.SSN != None %}
				<div class="formInfoDemog">xxx-xx-{{ client.SSN[-4:] }}</div>
			{% else %}
				<div class="formInfoDemog">xxx-xx-_ _ _ _</div>
			{% endif %}
			<div class="formLabel">Gender</div>
			<div class="formInfoDemog">{{ client.gen.gender }}</div>
		</div>

		<div class="addressBlock">
			<div class="formLabel">Address</div>
			<div class="address">{{ address.address }}</div>
			<div class="formLabel">Address Two</div>
			<div class="address">{{ address.address_2 }}</div>
		</div>
		<div class="addressBlock">
			<div class="formLabel">City</div>
			<div class="city">{{ address.city }}</div>
			<div class="formLabel">State</div>
			<div class="city">{{ address.state }}</div>
			<div class="formLabel">Zip Code</div>
			<div class="city">{{ address.zipcode }}</div>
		</div>

		<div class="formBlock">
			<div class="formLabel">Cell Phone</div>
			<div class="formInfo">{{ cell.contact }}</div>
			<div class="formLabel">Email</div>
			<div class="formInfo">{{ email.contact }}</div>
			<div class="formLabel">Work Phone</div>
			<div class="formInfo">{{ work.contact }}</div>
		</div>

		<div class="formBlock">
			
			<div class="formLabel">Race</div>
			<div class="formInfo">{{ client.race.race.race }}</div>
			<div class="formLabel">Ethnicity</div>
			<div class="formInfo">{{ client.eth.ethnicity }}</div>
			<div class="formLabel">Veteran Status</div>
			{% if client.veteran %}
			<div class="checkbox checked"></div>
			{% else %}
			<div class="checkbox"></div>
			{% endif %}

			<div class="formLabel">Active Military</div>
			{% if client.activeMilitary %}
			<div class="formInfo">Yes</div>
			{% else %}
			<div class="formInfo">No</div>
			{% endif %}

			<div class="formLabel">Foreign Born</div>
			{% if client.foreignBorn %}
			<div class="formInfo">Yes</div>
			{% else %}
			<div class="formInfo">No</div>
			{% endif %}
		</div>
	</body>
</html>